# Core dependencies
langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental>=0.0.42
openai
pydantic

# Data processing
pandas
numpy

# UI
streamlit

# Utils
python-dotenv
typing-extensions

# Document processing and vector search
faiss-cpu
unstructured
python-pptx
pypdf
python-docx
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
unstructured[all-docs] 